@import url(./__card/popup__card.css);
@import url(./__escape-button/popup__escape-button.css);
@import url(./__title/popup__title.css);
@import url(./__input/popup__input.css);
@import url(./__save-button/popup__save-button.css);
.popup {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: flex;
  justify-content: center;
}