@import url('../fonts/inter.css');
@import url('../blocks/page/page.css');
@import url('../blocks/header/header.css');
@import url('../blocks/profile/profile.css');
@import url('../blocks/elements/elements.css');
@import url('../blocks/footer/footer.css');
@import url('../blocks/popup/popup.css');
@import url('../vendor/normalize.css');
@import url('../blocks/card/card.css');
@import url('../blocks/popup/_opened/popup_opened.css');
@import url('../blocks/popup-card/popup-card.css');
@import url('../blocks/popup-card/_opened/popup-card_opened.css');
@import url('../blocks/card/_liked/card_liked.css');
@import url('../blocks/popup-image/popup-image.css');
@import url('../blocks/popup-image/_opened/popup-image_opened.css');

.site-body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', 'Arial', sans-serif;
}